# Dependencies
node_modules

# Build output
dist
dist-ssr
bundle.html

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment / secrets
*.local
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Parcel
.parcel-cache
